.row{
  width:100%;
  height:auto;
}
.indeximage { 
height: auto;
margin: 70px; 
max-width:310px;
border-radius:10%;
}
.article-top-image{
position: relative;
height: 30vw;
 width: 100%;
 z-index: 0;
 align-items: center;
 margin-top: 0;
}
.container-double{
display:flex;
padding: 20px;
         background-color: #f4f4f4;
         border: 1px solid #ddd;
}
.article-top-image-img{
 height: 41vw;
 width: 100%;
 object-fit: cover;

}
button {
 display: flex;
 align-items: center;
 gap: 8px; /* Space between icon and text */
 padding: 8px 12px;
 border: none;
 background-color: #e0e0e0;
 cursor: pointer;
 font-size: 1em;
}

button svg {
 fill: #333; /* Icon color */
}

button:hover {
 background-color: #d0d0d0;
}
@media(min-width: 769px){
.pyramid {
display: flex;
flex-direction: column;
align-items: center;
}
.row {
display: flex;
}
.indeximage {
width: 100%; 
height: auto;
margin: 30px; 
max-width:310px;
}
}