.slideshow-container {
  position: relative;
}

.slide {
  position: absolute;
width:100%;
  transform: translateX(-50%);
  left: 50%;
  transition: opacity 0.5s ease; /* Add transition for smooth opacity change */
overflow:hidden;
padding: 20px
}
.slide_img {
  height: 40vh;
  margin: auto; /* Center the image */
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
overflow:hidden;
}

.dot-container {
  text-align: center;
  margin-top: 345px;
  z-index: 3;
position:relative;
}

.dot {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  background-color: #00334f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
opacity:0.7;
  cursor: pointer;
}

.dot.active {
  background-color: #cde7fb;
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top:100px;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 18px;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev {
  margin-top:10px;
  opacity:0.5;
padding:35px;

}

.next {
  margin-top:10px;
  opacity:0.5;
padding:35px;
position:absolute;
right:0;
}
.next  hover{
 opacity:1;
}
.prev  hover{
  opacity:1;
 }
@media(max-width:769px){
.slide_img {
height: 170px;
margin: center; 
top: 0;
left: 0;
right: 0;
bottom: 0;
border-radius: 10px;
        width: 100%;
}
.dot-container{
margin-top:180px;
}
.indeximage {
padding:10px;
margin:0;
}
}
@media(min-width:769px){
.slide_img {
  width: 100%;
}
}