* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}

.collection {
    background: linear-gradient(135deg, #f78f18, #feffc0);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.collection-dual-essences {
    background: url('../AQ-img/DualEssencesCover.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.collection-dual-essences-seasons {
    background: url('../AQ-img/DualEssencesSeasonsCover.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.collection-lost-nature {
    background: url('../LT-img/LostNatureFrame.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.collection h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.collection p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.book-cards {
    display: flex;
    justify-content: space-around;
}

.book {
    background-color: white;
    color: #333;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.book:hover {
    transform: translateY(-10px);
}

.book img {
    height: 395px;
    width: 291.75px !important;
    border-radius: 10px;
    margin-bottom: 15px;
}

.book h3 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 60px;

}

.book p {
    font-size: 14px;
}
.aquasculpture-frame{
height: 395px;
width: 291.75px !important;
position: absolute;
align-items: center;
margin: 0;
transform: translate(-5px, 10px);
transform: scale(1.3);
}
@media (max-width: 768px) {
.book h3 {
    font-size: 25px;
}
.book img {
    height: 60px;
    width: 40px !important;
}
.book-cards {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.book{
    width: 50%;
}
.book img {
height: 175px;
width: 131px !important;
}
}