.returnall{
  font-size:25px;
  display:flex;
  justify-content:center;
  margin-bottom:30px;
}
.returnall a:hover{
background:aqua;
transition :background-color 0.3s;
}
.button{
  background: linear-gradient(to right, #b3f0ff , #2196F3 80%);
  font-size:30px;
  border:1px solid teal;
  border-radius:10px;
}
.button a:hover{
  background-color:white;
}
.choose{
		display: flex;
		justify-content: center;
		align-items: center;
	    }
	.square {
	width: 10%;
	height:70px;
	background: linear-gradient(to right, #b3f0ff , #2196F3 80%);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
}
	.square:hover{
	background:#94effb;
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
	}
	.square a:hover{
	color:teal;
	}
.hightlight{
background:#c6f3e4;


.left {
    border-right: 2px solid #fff;
	border-radius:10px;
	margin:0;
}

.right {
    border-left: 2px solid #fff;
	border-radius:10px;
	margin:0;
}


