.returnall{
  font-size:25px;
  display:flex;
  justify-content:center;
  margin-bottom:30px;
}
.button{
  background-color:aqua;
  font-size:30px;
  border:1px solid teal;
  border-radius:10px;
}
.button a:hover{
  background-color:white;
}
.choose{
		display: flex;
		justify-content: center;
		align-items: center;
	    }
	.square {
	width: 10%;
	height:70px;
	background: linear-gradient(to right, #b3f0ff , #2196F3 80%);
	display: flex;
	justify-content: center;
	align-items: center;
}
	.square:hover{
	background-color:white;
	}

.left {
    border-right: 2px solid #fff;
	border-radius:10px;
	margin:0;
}

.right {
    border-left: 2px solid #fff;
	border-radius:10px;
	margin:0;
}
